<div id="page">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-4">
        <h2>Edit this flat</h2>

        <%= simple_form_for @flat do |t| %>
        <%= t.input :kind, label: 'Type of housing' %>
        <%= t.input :capacity, label: 'Capacity of your housing' %>
        <%= t.input :title, label: 'Title of your add' %>
        <%= t.input :description, label: 'Description of your add' %>
        <%= t.input :price, label: 'Price per night' %>
        <%= t.input :street, label: 'Street address' %>
        <%= t.input :zip_code, label: 'Zip Code' %>
        <%= t.input :city, label: 'City' %>
        <%= t.input :country, as: :string, label: 'Country'%>
        <%= t.button :submit, class: "btn-primary" %>
        <%end%>

      </div>
      <br>
    </div>
    <br>
  </div>
</div>


