
<h2>Add a new flat</h2>
<div class="form-sign">
<%= simple_form_for @flat, html: {multipart: true } do |t| %>
  <%= t.input :kind, label: 'Type of housing' %>
  <%= t.input :capacity, label: 'Capacity of your housing' %>
  <%= t.input :title, label: 'Title of your add' %>
  <%= t.input :description, label: 'Description of your add' %>
  <%= t.input :price, label: 'Price per night' %>
  <%= t.input :street, label: 'Street address' %>
  <%= t.input :zip_code, label: 'Zip Code' %>
  <%= t.input :city, label: 'City' %>
  <%= t.input :country, as: :string, label: 'Country'%>
  <%= t.file_field :picture %>
  <div class="text-center">
  <%= t.button :submit, class: "btn-primary" %>
  </div>
<%end%>
</div>