
<h2>Add a new flat</h2>
<div class="form-center">
<%= simple_form_for @flat, html: { class: 'form-horizontal' } do |t| %>
<ul>
  <%= t.input :kind, label: 'Type of housing' %>
</ul>
<ul>
  <%= t.input :capacity, label: 'Capacity of your housing' %>
</ul>
<ul>
  <%= t.input :title, label: 'Title of your add' %>
</ul>
<ul>
  <%= t.input :description, label: 'Description of your add' %>
</ul>
<ul>
  <%= t.input :price, label: 'Price per night' %>
</ul>
<ul>
  <%= t.input :street, label: 'Street address' %>
</ul>
<ul>
  <%= t.input :zip_code, label: 'Zip Code' %>
</ul>
<ul>
  <%= t.input :city, label: 'City' %>
</ul>
<ul>
  <%= t.input :country, as: :string, label: 'Country'%>
</ul>
  <div class="text-center">
  <%= t.button :submit, class: "btn-primary" %>
  </div>
<%end%>
</div>