<div class="row text-center">
 <div class="col-md-12 col-md-3">
   <form class="form-inline" role="form">
       <div class="form-group nested-group">
           <input type="text" class="form-control" placeholder="Destination">
           <input placeholder="Arrivée" type="text" onfocus="(this.type='date')" id="date" class="form-control">
           <input placeholder="Départ" type="text" onfocus="(this.type='date')" id="date" class="form-control">
           <input placeholder="Voyageurs" type="text" onfocus="(this.type='number')" id="traveller" class="form-control" min="0" step="1">
           <button class="btn btn-primary" type="button">Rechercher</button>
       </div>
   </form>
 </div>
</div>


<!-- <form class="form-inline">
  <div class="form-group">
      <%= form_tag("/search", method: "get") do %>
        <% label_tag(:q, "Location") %>
        <%= text_field_tag(:q, value = "Location") %>

        <% label_tag(:q, "Arrival") %>
        <%= date_field_tag(:q, value = "Arrival") %>

        <% label_tag(:q, "Departure") %>
        <%= date_field_tag(:q, value = "Departure") %>

        <%= label_tag(:q, "Capacity") %>
        <%= select_tag(:q, value = "Capacity") %>

        <%= submit_tag("Go") %>
      <% end %>
  </div>
</form> -->
